.circles {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
}

.circle {
  background: #ffffff;
  border: 2px solid #e5bc9b;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  flex-shrink: 0;
  cursor: pointer;
  order: 2;
}
@media (min-width: 768px) {
  .circle {
    order: 0;
  }
}
.nav-button {
  width: calc(50% - 4px);
  display: flex;
}
@media (min-width: 768px) {
  .nav-button {
    width: auto;
  }
}
.nav-button--prev {
  justify-content: end;
}
.image-arrow {
  transform: rotate(180deg);
}

.circle--filled {
  background-color: var(--primary-light);
}

.circle--active {
  background-color: var(--emphasis);
}
