.map-content {
  display: flex;
  flex-grow: 1;
  gap: 40px;
  margin-bottom: -20px;
}
@media (min-width: 768px) {
  .map-content {
    position: relative;
    margin-bottom: -40px;
  }
}

.map-content--details:after {
  content: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: calc(50vw);
  right: 0;
  transform: translateX(50vw);
  background: var(--primary-dark);
  z-index: -1;
}
@media (min-width: 768px) {
  .map-content--details:after {
    content: "";
  }
}

.map-content__main {
  flex-grow: 1;
  padding-bottom: 20px;
}

.map-content__header {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 20px;
}

.map-content__header h1 {
  margin-bottom: 0;
}

.map-content__input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 4px;
  font-size: 16px;
  width: 200px;
  margin-left: 8px;
  font-family: "Open Sans", sans-serif;
}

.map-content__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(20, 10, 0, 0.7);
}
@media (min-width: 768px) {
  .map-content__overlay {
    position: static;
    background-color: transparent;
    display: flex;
  }
}

.location-details {
  background-color: var(--primary-dark);
  padding: 16px;
  width: 360px;
  max-width: calc(var(--listing-width) * 0.9);
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
@media (min-width: 768px) {
  .location-details {
    padding: 32px 0 32px 32px;
    position: relative;
    transform: none;
    top: inherit;
    left: inherit;
    border-radius: 50px 0 0 0;
  }
}

.location-details--hidden {
  display: none;
}
@media (min-width: 768px) {
  .location-details--hidden {
    display: block;
  }
}

.location-details__title {
  font-size: 24px;
  margin: 0 0 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  color: white;
}

.location-details__title::before {
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--emphasis);
}

.location-details__card {
  background-color: #fff;
  border-radius: 50px 0 50px 50px;
  overflow: hidden;
}

.location-details__body {
  padding: 36px;
}
