.map-content {
  display: flex;
  flex-grow: 1;
  gap: 40px;
  margin-bottom: -20px;
}
@media (min-width: 768px) {
  .map-content {
    position: relative;
    margin-bottom: -40px;
  }
}
.map-content--details:after {
  content: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50vw;
  right: 0;
  transform: translateX(50vw);
  background: var(--primary-dark);
  z-index: -1;
}
@media (min-width: 768px) {
  .map-content--details:after {
    content: "";
  }
}
.map-content__main {
  flex-grow: 1;
  padding-bottom: 20px;
}
.map-content__header {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 20px;
}
.map-content__header h1 {
  margin-bottom: 0;
}
.map-content__input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 4px;
  font-size: 16px;
  width: 200px;
  margin-left: 8px;
  font-family: "Open Sans", sans-serif;
}
.map-content__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(20, 10, 0, 0.7);
}
@media (min-width: 768px) {
  .map-content__overlay {
    position: static;
    background-color: transparent;
    display: flex;
  }
}
