.location-details {
  background-color: var(--primary-dark);
  padding: 16px;
  width: 360px;
  max-width: 90vw;
  border-radius: 20px;
  position: absolute;
  top: 20px;
  /* left: 50vh;
  transform: translate(-50%, -50%); */
  @media (min-width: 768px) {
    padding: 32px 0 32px 32px;
    position: static;
    transform: none;
    border-radius: 50px 0 0 0;
  }
}

.location-details__title {
  font-size: 24px;
  margin: 0 0 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  color: white;
}
.location-details__title::before {
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--emphasis);
}

.location-details__card {
  background-color: #fff;
  border-radius: 50px 0 50px 50px;
  overflow: hidden;
}

.location-details__body {
  padding: 36px;
}

.location-details__section {
  margin-bottom: 20px;
}

.location-details__subtitle {
  font-size: 16px;
  margin-bottom: 8px;
  color: var(--primary-dark);
  text-transform: uppercase;
}

.location-details__list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 -8px;
}

.uv-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  gap: 8px;
}

.uv-item__title {
  width: 76px;
}

.uv-item__text {
  font-weight: bold;
}

.location-details__footer {
  background-color: var(--primary-light);
  padding: 24px 36px;
}

.location-details__btn--test {
  display: block;
}
