.location-details__section {
  margin-bottom: 20px;
}

.location-details__subtitle {
  font-size: 16px;
  margin-bottom: 8px;
  color: var(--primary-dark);
  text-transform: uppercase;
}

.location-details__list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 -8px;
}

.uv-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  gap: 8px;
}
.ui-item--active {
  background: var(--primary-light);
}
.uv-item__title {
  width: 76px;
}

.uv-item__text {
  font-weight: bold;
}

.location-details__footer {
  background-color: var(--primary-light);
  padding: 24px 36px;
}

.location-details__btn--test {
  display: block;
}

.location-details__close {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 16px;
  top: 16px;
}
@media (min-width: 768px) {
  .location-details__close {
    display: none;
  }
}
