.footer {
  background-color: var(--primary-dark);
  color: white;
  text-align: center;
  padding: 16px;
}

@media (max-width: 450px) {
  .footer {
    font-size: 12px;
    font-weight: 200;
    padding: 25px;
  
  }
}
