@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Girassol&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  --primary-dark: #854b39;
  --primary-light: #e5bc9b;
  --secondary-light: #f6d6cb;
  --emphasis: #f5972a;
}

body {
  margin: 0;
}
h1,
h2,
h3 {
  font-family: Girassol, serif;
}
h1 {
  color: var(--primary-dark);
  font-size: 3rem;
  margin: 0 0 20px;
}
.main_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 16px;
  @media (min-width: 1416px) {
    padding: 0;
  }
}

.content {
  flex-grow: 1;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .content {
    margin-top: 40px;
  }
}
.base-btn {
  border-radius: 50px;
  background: var(--primary-dark);
  padding: 8px 24px;
  color: white;
  font-family: Girassol, serif;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}
.base-btn:hover {
  color: var(--emphasis);
}
.base-btn--emphasis {
  background: var(--emphasis);
  color: var(--primary-dark);
}
.base-btn--emphasis:hover {
  color: var(--primary-light);
}
.base-btn--left {
  border-radius: 10px 50px 50px 50px;
}
.base-btn--right {
  border-radius: 50px 10px 50px 50px;
}
