.homepage {
  margin-top: -20px;
  margin-bottom: -20px;
  max-width: 1100px;
  margin: -20px auto;
  text-align: center;
}

@media (min-width: 768px) {
  .homepage {
    margin: -40px auto;
  }
}

.homepage__img {
  width: var(--listing-width);
  height: 300px;
  object-fit: cover;
  display: block;
  flex-shrink: 0;
  margin: 0 calc(50% - var(--listing-width) / 2);
}

@media (min-width: 425px) {
  .homepage__img {
    height: 700px;
  }
}

@media (min-width: 960px) {
  .homepage__img {
    margin: 0 calc(50% - var(--listing-width) / 2 - 9px);
  }
}

.homepage__subtitle {
  color: var(--primary-dark);
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 70.4px */
  font-family: Girassol;
  margin: 40px 0 30px;
}

@media (min-width: 425px) {
  .homepage__subtitle {
    font-size: 48px;
  }
}

@media (min-width: 768px) {
  .homepage__subtitle {
    font-size: 64px;
  }
}
.homepage__text {
  font-size: 24px;
  padding-bottom: 30px;
  font-size: 18px;
}

@media (min-width: 425px) {
  .homepage__text {
    font-size: inherit;
  }
}

.homepage__section--child {
  padding-top: 25px;
}

.base-btn.btn--homepage {
  padding: 12px 30px;
  font-size: 35px;
  margin: auto;
  display: inline-block;
  margin-bottom: 30px;
}

.homepage__section--map {
  position: relative;
}

.homepage__subtitle--map {
  position: absolute;
  top: -3px;
  right: 16px;
  text-decoration: none;
  padding-top: 35px;
  text-align: right;
  margin: 0;
}

@media (min-width: 425px) {
  .homepage__subtitle--map {
    top: -10px;
  }
}

.homepage__section--makeup {
  position: relative;
}

.homepage__subtitle--recommendation {
  text-decoration: none;
  position: absolute;
  top: -3px;
  left: -10px;
  text-decoration: none;
  padding-top: 35px;
  margin: 0;
}

@media (min-width: 425px) {
  .homepage__subtitle--recommendation {
    top: -10px;
    left: 0;
  }
}

.btn--homepage-zjistit {
  padding-bottom: 50px;
}
