
.home-page_img {
    min-width: 100vw;
    height: 300px;
    object-fit: cover;
    display: block;
    flex-shrink: 0;
    margin: 0 calc(50% - 50vw - 9px);
  }

@media (min-width: 450px) {
.home-page_img {
    height: 700px;
  
}
}


.h2-homepage {
  color: var(--main, #854b39);
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 70.4px */
}

.p-homepage {
  color: #47241a;
  text-align: center;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.base-btn.btn--homepage {
  padding: 12px 30px;
  font-size: 35px;
  margin: auto;
  display: inline-block;
  margin-bottom: 30px;
}

.section-test {
  display: flex;
}

.homepage {
   margin-top: -40px; 
   margin-bottom: -40px;
}



.homepage-text_section {
  max-width: 1100px;
  margin: auto;
}


.section-map {
    position: relative;
}


.home-page-Pmap {
    position: absolute;
   top: -10px;
    right: 16px;
    color: var(--main, #854B39);
    font-family: Girassol;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

@media (max-width: 450px) {
    .home-page-Pmap {
        font-size: 30px;
        top: -3px;
        left: -10px;
    }}


    .section-makeup {
        position: relative;
    }

    .home-page-Precommendation {
        color: var(--main, #854B39);
        font-family: Girassol;
        font-size: 80px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none; 
        position: absolute;
        top: -10px;
        text-decoration: none;
    }

    @media (max-width: 450px) {
        .home-page-Precommendation {
            font-size: 30px;
            top: -3px;
            left: -10px;
        }}


